#в архиве есть мусорные файлы и системные файлы (папка tmp, файлы, заканчивающиеся суффиксами _old, _backup, Thumbs.db и .DS_Store) и их нужно проигнорировать
# Исключим папку tmp
tmp/

#исключим файлы с окончанием _old
*_old

#исключим файл с окончанием _backup
*_backup

#исключим файл thumbs.db
Thumbs.db

#исключим файлы с расширением .DS_Store
*.DS_Store
